.Ebook {
    background-color: #fc6004;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: '0.3 ease-in';
}

.Ebook:hover {
    background-color: #f8833f;
}

.NavbarF {
    background-color: rgba(0, 0, 0, 0.5);

}