/* Animação do texto  */
.texto-sobre-imagem {
    animation: animacao-texto 2s forwards;
    color: white;
    margin-left: 2%;
    width: 100%;
    padding-top: 10%;
}

@keyframes animacao-texto {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}



.VerPlanos {
    background-color: #02b4ef;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 4px;
    border: none;
    color: white;
    text-decoration: none;
    transition: 'background-color: #5dccf1 0.3 ease-in';
    margin-top: 2%;
    margin-bottom: 20%;


}

.VerPlanos:hover {
    background-color: #2fcbff;
}


/*  */
.secao-com-fundo {
    background-image: url('../../Img/background.png');
    background-size: cover;
    /* Para cobrir toda a área */
    background-position: center;
    /* Centraliza a imagem */

}