/* Animação do texto  */
.texto-sobre-imagem {
    animation: animacao-texto 2s forwards;
    color: white;
    width: 40%;
    margin-top: 10%;
    position: relative;
}


@keyframes animacao-texto {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Plano de Fundo */
.PlanoDeFundo {
    background: url('../../Img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-bottom: 30%;
}

.VerPlanos {
    background-color: #02b4ef;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 4px;
    border: none;
    color: white;
    text-decoration: none;
    transition: 'background-color: #5dccf1 0.3 ease-in';
}

.VerPlanos:hover {
    background-color: #2fcbff;
}