@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600;700;900&display=swap');

body,
html,
#root {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.montBold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.montExtraBold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}