.Resultado {
    background-color: black;
}

/* Estilo para limitar o tamanho das imagens */
.slick-slide img {
    max-width: 100%;
    max-height: 650px;
    object-fit: contain;
    margin-bottom: 50px;
}